
name: v2ray_ngrok

on:
  workflow_dispatch:  # 也可以手动触发

jobs:
  run-script:
    runs-on: ubuntu-latest  # 使用 GitHub 提供的最新 Ubuntu 环境

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4  # 检出代码到工作目录
        
      - name: Public IP
        id: ip
        uses: haythem/public-ip@v1.3  # 获取 GitHub Actions 运行器的公网 IP

      # - name: Print Public IP
      #   run: |
      #     echo "IPv4 Address: ${{ steps.ip.outputs.ipv4 }}"
      #     echo "IPv6 Address: ${{ steps.ip.outputs.ipv6 }}"  # 打印公网 IP 地址

      - name: Run Script
        run: sudo chmod +x install_v2ray.sh && sudo ./install_v2ray.sh  # 给脚本执行权限并运行

      - name: Check service
        run: sudo systemctl status v2ray  # 检查服务状态

      - name: Setup Ngrok Tunnel and Auto-Restart
        run: |
          # 访问下谷歌
          curl https://www.google.com/

          # 添加 ngrok 的官方 GPG 密钥
          curl -sSL https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null

          # 添加 ngrok 的官方 APT 源
          echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list

          # 更新 APT 包列表并安装 ngrok
          sudo apt update && sudo apt install ngrok

          # 验证 ngrok 版本
          ngrok version
      
          # 启动 ngrok 并每 60 分钟重启一次
          for ((i=0; i<1; i++)); do
            echo "Starting ngrok tunnel for 60 minutes... ${{ vars.NGROK_TOKEN }}"
            ngrok tcp 18524 --authtoken ${{ vars.NGROK_TOKEN }} --log=stdout &
      
            # 等待 60 分钟
            sleep 3600
      
            echo "Restarting ngrok tunnel..."
            pkill -f ngrok
          done

      
